
button {
    background-color:rgb(250, 248, 248);
    padding: 0.2rem;
    margin: 0.3rem;
    border-radius: 5px;
}

input {
    padding: 0.2rem;
    border-radius: 5px;
}

li {
    color: rgb(26, 92, 26);
}

.completed {
    color: rgb(15, 15, 15);
}